<ion-content [fullscreen]="true">
  <!-- Red Header Section -->
  <div class="red-header">
    <h1 class="header-title">Wishlist</h1>
  </div>

  <!-- Main Container -->
  <div class="main-container">
    
    <!-- Empty State Content -->
    <div class="empty-state">
      <div class="illustration-container">
        <!-- Desktop Computer (Left) -->
        <div class="icon-wrapper desktop-wrapper">
          <ion-icon name="desktop-outline" class="empty-icon"></ion-icon>
        </div>
        
        <!-- Medal (Center/Bottom) -->
        <div class="icon-wrapper medal-wrapper">
          <ion-icon name="medal-outline" class="empty-icon"></ion-icon>
        </div>
        
        <!-- Book (Right) -->
        <div class="icon-wrapper book-wrapper">
          <ion-icon name="book-outline" class="empty-icon"></ion-icon>
        </div>
      </div>

      <h2 class="empty-title">save your wishes here!</h2>
      <p class="empty-subtitle">your wish list will be saved here.</p>
    </div>


  </div>
</ion-content>
